<div class="flex justify-center pt-2">
    <table class="table-fixed border-solid border-2 border-sky-500 content-center w-10/12">
        <tbody>
            <tr class="text-center text-4xl">
                Welcome to MonHunDex
            </tr>
            <tr class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet risus libero, id gravida magna
                convallis sit amet. Vivamus eget orci nec diam condimentum maximus a et orci. Sed eget euismod urna. Ut
                sagittis vulputate ex, nec rhoncus nibh suscipit ac. Vestibulum ac orci vel ex laoreet sodales quis non
                ex. Sed hendrerit fringilla mi. Morbi fringilla, tortor ac euismod venenatis, quam elit venenatis
                lectus, sed vehicula libero urna gravida tortor. Fusce gravida rhoncus nulla, nec fermentum nunc
                efficitur in. In hac habitasse platea dictumst. Nulla leo sapien, lobortis a lacus a, pellentesque
                scelerisque dui. Nulla facilisi. Nunc tempus placerat ullamcorper. Quisque elementum nibh non finibus
                congue. Ut vel viverra ipsum.
            </tr>
        </tbody>
    </table>
</div>
<br>
<hr class="border-solid border-t-2 border-black" id="division-line">
<br>
<div class="flex relative right-0" id="daily-monster">
    <table class="table-fixed border-solid border-2 border-sky-500 w-max min-w-8/12 max-w-sm">
        <thead>
            <th class="text-center">Daily Monster</th>
        </thead>
        <tbody>
            <tr class="border-solid border-2 border-sky-500">
                <td class="text-center">Rathalos</td>
            </tr>
            <tr class="border-solid border-2 border-sky-500"><img
                    src="//archives.bulbagarden.net/media/upload/thumb/a/a7/196Espeon.png/250px-196Espeon.png"
                    alt="Rathinho">
            </tr>
            <tr class="border-solid border-2 text-center border-sky-500">Flying Wyvern</tr>
        </tbody>
    </table>

    <div id="daily-monster-info">
        <nav class="flex left space-x-4 fixed h-10 border rounded ml-2 absolute">
            <button class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:underline hover:text-slate-900"
                (click)="openMonsterInfo('description')">Description</button>
            <button class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:underline hover:text-slate-900"
                (click)="openMonsterInfo('physiology')">Physiology</button>
            <button class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:underline hover:text-slate-900"
                (click)="openMonsterInfo('behavior')">Behavior</button>
        </nav>
        <br><br>
        <div class="mx-2">
            <div id="description" class="dm-info text-justify">
                <p>Terrible wyverns called "Kings of the Skies". Along with Rathians, they stake wide territories
                    centered
                    around their nests. Rathalos descend on invaders from the sky, attacking with poison claws and
                    breath of
                    fire.</p>
            </div>

            <div id="physiology" class="dm-info text-justify" style="display:none">
                <p>Rathalos are large, bipedal wyverns with a spiny, armored hide covering their body. Their outer shell
                    features much brighter and more vibrant colors than that of their female counterpart, the Rathian.
                    It is
                    primarily bright red, with black markings throughout. Like the Rathian, Rathalos possess a flame sac
                    which is used to produce deadly flaming projectiles from the mouth. The talons upon their feet are
                    highly poisonous and are known to inflict toxic mortal wounds on larger prey. In addition, their
                    long,
                    thick tail features a heavy spiked club at the end. Rathalos' wing membranes feature ornate patterns
                    which are likely used to attract potential mates. </p>
            </div>

            <div id="behavior" class="dm-info text-justify" style="display:none">
                <p>Rathalos are highly territorial monsters, and as such, are aggressive towards intruders. They will
                    chase
                    away or attempt to kill any monster which may pose a threat to their land. While hunting, Rathalos
                    will
                    stalk prey from the air before swooping in for the kill. Once they have successfully brought down
                    their
                    prey, they will carry it away to eat in private, safe from scavengers or other large monsters which
                    might attempt to steal the kill. </p>
            </div>
        </div>

        <!--<h2 class="text-2xl division border-solid border-b-2 border-grey">
        <p>Description</p>
        </h2>
        <p>Terrible wyverns called "Kings of the Skies". Along with Rathians, they stake wide territories centered
            around their nests. Rathalos descend on invaders from the sky, attacking with poison claws and breath of
            fire.</p>
        <h2 class="text-2xl division border-solid border-b-2 border-grey">
            <p>Behavior</p>
        </h2>
        <p>Rathalos are highly territorial monsters, and as such, are aggressive towards intruders. They will chase away
            or attempt to kill any monster which may pose a threat to their land. While hunting, Rathalos will stalk
            prey from the air before swooping in for the kill. Once they have successfully brought down their prey, they
            will carry it away to eat in private, safe from scavengers or other large monsters which might attempt to
            steal the kill. </p>-->
    </div>
</div>